a {
    text-decoration: none;
    font-weight: bold;
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    max-width: 1800px;
}
.header-ttl {
    width: 80px;
    font-size: 30px;
}
.header-nav-list {
    display: flex;
    
    
}
.header-nav-item:not(:last-child) {
    margin-right: 30px;
}


.wrapper {
    width: 100%;
    padding-bottom: 35px;
    position: relative;
    height: 100%;
    z-index: 10;
}
.wrapper-container {
    text-align: right;
    position: absolute;
    top: 425%;
    left: 50%;
}
.wrapper-container-img {
    width:100%;
}
.title {
    font-size: 70px;
    position: absolute;
    top: 55%;
}
.blue {
    width: 75%;
    height: 280px;
    background-color: #000077;
    position: absolute;
    top: 65%;
}